.activity {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.activity h1 {
    font-size: 5rem;
}

.activities {
    cursor: grab;
    display: flex;
    gap: 1rem;
    height: 14vw;
    width: 98vw;
    overflow-x: scroll;
    margin-bottom: 1rem;
}

.activities::-webkit-scrollbar {
    display: none;
}

.activities img {
    height: 100%;
    width: auto;
}

.Activity {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(16,16,16,1) 12%, rgba(16,16,16,1) 41%, rgba(16,16,16,1) 61%, rgba(16,16,16,1) 100%);
}

.Certificate {
    margin: 2rem 0;
}

.Certificate h1 {
    font-size: 5rem;
}

.certificate-container {
    width: 90vw;
    /* height: 600px; */
    padding: 2%;
    padding-bottom: 7%;
}

.certificates {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
        "sympo posn project"
        "sillapa unity depa3r";
}

.certificate .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0.5em solid #3b3b3b;
    position: relative;
    transition: 0.5s;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        background: var(--BG);
    }

    &::before {
        top: -0.5em;
        bottom: -0.5em;
        left: 1em;
        right: 1em;
    }
      
    &::after{
        left: -0.5em;
        right: -0.5em;
        top: 1em;
        bottom: 1em;
    }
}

.certificate .img-container:hover {
    background-color: #282828;
    &::before, &::after {
        background-color: #282828;
    }
}

.certificates img {
    /* height: 200px; */
    height: 15vw;
    position: relative;
    z-index: 1;
}

#sympo {
    grid-area: sympo;
}

#posn {
    grid-area: posn;
}

#project {
    grid-area: project;
}

#sillapa {
    grid-area: sillapa;
}

#unity {
    grid-area: unity;
}

#depa3r {
    grid-area: depa3r;
}

@media only screen and (max-width:450px) {
    .activity h1 {
        font-size: 3rem;
    }
    
    .Certificate h1 {
        font-size: 2.4rem;
    }

    .certificates {
        gap: 1rem;
    }

    .certificate .img-container {
        border: 0.3em solid #3b3b3b;

        &&::before {
            display: none;
        }

        &&::after {
            display: none;
        }
    }

}